body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    color: #333;
    }
a {
    text-decoration: none;
    }
a:hover{
    text-decoration: underline;
    }
    code{
        color:darkmagenta;
        font: size 1.5em;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }