*{
    margin: 0;
    padding: 0;

}
body{
    font-family:'Times New Roman', Times, serif;
    line-height: 1.6;
    padding: 5px;
    color: #333;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
}

.box {
    border-radius: 6px;
    padding: 20px;
    font-size: 50px;
}

.y{
    background-color: #333;
    color:white;
    padding: 20px;
}

.x{
    background-color:#a0a0a0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container{
    width: 100%;
    max-width: 900px;
    min-height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    gap: 15px;
}

.a{
    grid-column: 1 /span 2;
}
.b{
    grid-column: 4
}
.c{
    grid-column:1;
}
.letras{
    grid-column:2 / span 3;
    display: flex;
    padding: 15px;
    background-color: #333;

}
.grid{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 12px;
}

